# See http://about.travis-ci.org/docs/user/build-configuration/
language: scala
scala:
  - 2.12.12
  - 2.13.3
branches:
  only:
    - master
notifications:
  email:
    recipients:
      - tom@sfxcode.com
jdk:
  - openjdk11
  - openjdk12
  - openjdk13
  - openjdk14

before_cache:
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

# These directories are cached to S3 at the end of the build
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot/