.root {
  -fx-font-family: "Roboto";
  -fx-font-smoothing-type: gray;
}

* {
  -mdfx-font-color: black;
  -mdfx-border-color-1: #888;

  -mdfx-bg-color-1: #ccc;
  -mdfx-bg-color-2: #ddd;
  -mdfx-bg-color-3: #eee;
}

.markdown-text {
  -fx-font-size: 12;
  -fx-fill: -mdfx-font-color;
  -fx-spacing: 6 4 16 12;
}
.markdown-italic {
  -fx-font-style: italic;
}
.markdown-bold {
  -fx-font-weight: bold;
}

.markdown-normal-flow {
  -fx-line-spacing: 8;
}

.markdown-heading .markdown-text {
  /*-fx-line-spacing: 100;*/
  -fx-fill: -mdfx-font-color;
}
.markdown-heading-1 { -fx-padding: 8 4 4 4;}
.markdown-heading-2 { -fx-padding: 8 4 4 4;}
.markdown-heading-3 { -fx-padding: 8 4 4 4; }
.markdown-heading-4 { -fx-padding: 8 4 4 4; }
.markdown-heading-5 { -fx-padding: 8 4 4 4; }

.markdown-heading-1 .markdown-text {
  -fx-font-size: 24;
}

.markdown-heading-2 .markdown-text {
  -fx-font-size: 20;
}

.markdown-heading-3 .markdown-text {
  -fx-font-size: 16;
}

.markdown-heading-4 .markdown-text {
  -fx-font-size: 14;
  -fx-font-weight: bold;

}

.markdown-heading-5 .markdown-text {
  -fx-font-size: 12;
  -fx-font-weight: bold;
}

.markdown-link {
  -fx-fill: blue;
}
.markdown-link-hover {
  -fx-underline: true;
}



.markdown-paragraph-list {
  -fx-spacing: 0;
}
.markdown-listitem-dot {
  -fx-font-size: 14;
  -fx-text-fill: -mdfx-font-color;
  -fx-padding: 0 0 5 0;
}

.markdown-codeblock-box,
.markdown-code {
  -fx-padding: 0 8 0 8;
}
.markdown-code {
  /*-fx-max-width: 300*/
}
.markdown-code,
.markdown-codeblock {
  -fx-wrap-text: true;
  -fx-font-size: 12;
}
.markdown-codeblock-box,
.markdown-code-background {
  -fx-padding: 8;
  -fx-border-radius: 8;
  -fx-border-color: -mdfx-border-color-1;
  -fx-border-width: 0.5;
  -fx-background-radius: 8;
  -fx-background-color: #00000009; /*  -mdfx-bg-color-3*/
}
.markdown-code-background {
  -fx-border-width: 0;
  -fx-background-color: #0000AA10;  /*  -mdfx-bg-color-3*/
}

.markdown-code-anti-padding {
  /*-fx-padding: -8;*/
  -fx-border-color: red;
  -fx-border-width: 1;
}

.markdown-table-table {
  -fx-vgap: -1;
  -fx-hgap: -1;
  -fx-max-width:600;
}

.markdown-table-cell {
  -fx-padding: 8;
  -fx-border-color: -mdfx-border-color-1;
  -fx-border-width: 0;
}

.markdown-table-even {
  -fx-background-color: -mdfx-bg-color-1;
}
.markdown-table-odd {
  -fx-background-color: -mdfx-bg-color-2;
}
.markdown-table-cell-top {
  -fx-background-color: -mdfx-bg-color-3;
}
.markdown-table-cell-top .markdown-normal-flow {
  -fx-alignment: center;
  -fx-text-alignment: center;
}

.markdown-hbox1 {
  -fx-spacing: 0;
  -fx-padding: 0;
}

.markdown-vbox1 {
  -fx-spacing: 0;
  -fx-padding: 0;
}

/*
.markdown-hbox1 {
  -fx-background-color: red;
}
.markdown-vbox1 {
  -fx-background-color: orange;
}
*/

