.tagmark {
    -fx-fill: gray;
}

.anytag {
    -fx-fill: crimson;
}

.parent {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}

.attribute {
    -fx-fill: darkviolet;
}

.value {
    -fx-fill: black;
}

.comment {
	-fx-fill: teal;
}